<head>
    <style>
        html,body {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            font-weight: 300;
        }
        div#card{
            position:absolute;
            left:200px;
            top:90px;
        }
    </style>
    
</head>
<body>
    <div id="cadastro-img">    
        <img src="/css/icon.png" width="130px" height="150px"
    </div>
</body>