{{#each erros}}
    <div class="alert alert-danger col-sm-6"> {{texto}}</div>
{{else}}

{{/each}}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {{>_navbar}}
    {{>_form-cadastros}}
    <div id="card" class="card col-sm-8 p-3 mb-2 bg-light text-dark">
        <div class=card-body>
            <h2>Criar Ordem de Serviço</h2>
            <form action="os/cadastrar" method="post">
                <div class="col-sm-8">
                    <label>Cliente (Informe o Nome Completo do Cliente)</label><br>
                    <small>Se não souber o nome completo, <a href="cliente/listar">clique aqui</a> para encontrar</small>
                    <input type="text" class="form-control" name="cliente">
                </div>
                <div class="col-sm-8">
                    <label>Produto</label>
                    <input type="text" class="form-control" name="produto">
                </div>
                <div class="col-sm-8">
                    <label>Observação</label>
                    <input type="text" class="form-control" name="obs">
                </div><br>
                <input type="submit" class="btn btn-primary" value="Salvar">
            </form>
        </div>
    </div>
</body>